.main {
  background-color: lightgray;
  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../../kr.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
}
