/* COMMON */

h3 {
  color: #5c5856;
}
li {
  color: #5c5856;
}

.contents_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 80px;
}

.input_btn {
  cursor: pointer;
  outline: none;
  border: none;
}

.input_btn:focus {
  display: block;
  width: 200px;
  transition: all 0.5s;
  text-align: right;
}
.contents_title {
  position: relative;
  margin-top: 50px;
}

.contents_like {
  width: 35px;
}

.contents_list {
  position: relative;
  top: 30px;
}

.grade-emoticon {
  position: absolute;
  left: 178px;
}

.heart-outlined {
  position: absolute;
  width: 2em;
  height: 2em;
}
.heart-outlined:hover {
  transition: all 0.9ms;
  width: 2.1em;
  height: 2.1em;
}
